@model CrudEscola.Models.Aluno

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Alunos</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAluno" class="control-label"></label>
                <input asp-for="NomeAluno" class="form-control" />
                <span asp-validation-for="NomeAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdadeAluno" class="control-label"></label>
                <input asp-for="IdadeAluno" class="form-control" />
                <span asp-validation-for="IdadeAluno" class="text-danger"></span>

                <div class="form-group">
                    <label asp-for="Id_Turma" class="control-label"></label>
                    <input asp-for="Id_Turma" class="form-control" />
                    <span asp-validation-for="Id_Turma" class="text-danger"></span>
                </div>
                <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
